aiofiles
aiohttp
aioshutil
anytree==2.8.0
apscheduler
aria2p
asyncio
beautifulsoup4
cinemagoer
cloudscraper
cryptography
dnspython
feedparser
flask
gevent
git+https://github.com/zevtyardt/lk21.git
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
gTTS
heroku3
html_telegraph_poster
httpx
langcodes[data]
lxml
markdown
mimetype
motor
mutagen
natsort
pillow
psutil
pybase64
pycountry
pycryptodome
pymongo
pyrofork==2.2.11
python-dotenv
python-magic
python-secrets
pytz
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
tgcrypto
typing
urllib3
uvloop
waybackpy
xattr
yt-dlp
